In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("combined_movie_data.csv")

In [10]:
df.head()

In [9]:
df = df.drop(["Unnamed: 0"],axis=1, inplace=True)

In [7]:
df.head()

,titleId,start_year,genres,ordering,title,region,genre_ids,id_x,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,tt0069049,2018.0,Drama,3.0,The Other Side of the Wind,US,"[35, 18]",299782,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,NaN,NaN
1,tt0112502,2017.0,"Horror,Thriller",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN
2,tt4503112,2018.0,"Action,Horror",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN
3,tt9181914,2018.0,"Animation,Family",5.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN
4,tt0192528,2018.0,Drama,1.0,Heaven & Hell,US,[18],567662,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,NaN,NaN

In [13]:
df['release_year'] = df['release_date_x'].str[:4]

In [14]:
df.head()

,titleId,start_year,genres,ordering,title,region,genre_ids,id_x,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross,release_year
0,tt0069049,2018.0,Drama,3.0,The Other Side of the Wind,US,"[35, 18]",299782,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,NaN,NaN,2018
1,tt0112502,2017.0,"Horror,Thriller",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
2,tt4503112,2018.0,"Action,Horror",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
3,tt9181914,2018.0,"Animation,Family",5.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
4,tt0192528,2018.0,Drama,1.0,Heaven & Hell,US,[18],567662,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,NaN,NaN,2018

# df = df.drop(["star_year"],axis=1, inplace=True)
df['years'] = np.where(df['original_title'] == tmdb['title'], tmdb['title'],"different")